@use "@/styles/globals.scss" as *;

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  outline: none;
  border: none;
  cursor: pointer;
}

.fill {
  background-color: $gray-100;
  color: $gray-800;
}

.button-kakao {
  background-color: $kakao-bg;
  color: var(--kakao-text, rgba(0, 0, 0, 0.85));
  font-family: "Apple SD Gothic Neo";
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  width: 353px;
  height: 52px;
  padding: 0px 14px;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
}

.button-store {
  display: flex;
  width: 353px;
  height: 60px;
  padding: 20.365px 55.439px;
  justify-content: center;
  align-items: center;
  gap: 11.314px;
  flex-shrink: 0;
  border-radius: 12px;
  background: #111;
  color: white;
  @include Title7;
}

.l {
  width: 100%;
  padding: 16px 24px;
}

.m {
  padding: 11px 20px;
  border-radius: 10px;
}

.s {
  padding: 7px 14px;
  border-radius: 8px;
}

.icon {
  transition: transform 0.3s ease;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  font-size: inherit;
}
