@use "@/styles/globals.scss" as *;

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between; // 위아래로 분배
  align-items: center;
  padding: 40px 0;
  height: 100vh; // 전체 화면 기준으로 정렬
}

.title {
  font-family: "League Gothic";
  color: var(--Black, #111);
  font-size: 66px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}
